#aboutSection{
    height: 100vh;
    background-color: #012355;
    width: 100vw;
    position: relative;
    z-index: 900;
}

#aboutWrapper{
    display: inline-block;
    position: relative;
    margin-left: 10vw;
    margin-top: 10vw;
}

#aboutContainer{
    display: inline-block;
    position: relative;
    width: 35vw;
    height: 20vw;
    background-color: rgb(131, 182, 240);
}

#aboutContainer:before{
    content: 'About Me';
    display: inline-block;
    position: absolute;
    font-family: 'Space Mono', sans-serif;
    top:0;
    transform: translateY(-50%);
    background-color: #0e141d;
    color: rgb(212, 232, 255);
    left: 2vw;
    padding: 0 1vw;
    font-size: 2vw;
}

.hanging-elem:nth-child(3) img{
    width: 2.5vw;
    height: 2.5vw;
}

#aboutContainer:after{
    content: '';
    display: inline-block;
    position: absolute;
    top:0.6vw;
    left:0.6vw;
    width: 100%;
    height: 100%;
    background-color: #0e141d;
    z-index: -1;
}
#aboutText{
    display: inline-block;
    padding-top: 1vw;
    width: 90%;
    height: 90%;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    z-index: 990;
}

#stackWrapper{
    display: flex;
    justify-content: right;
    position: relative;
    top: -11vw;
    pointer-events: none;
    margin-right: 10vw;
}

#stackContainer{
    display: inline-block;
    position: relative;
    width: 35vw;
    height: 20vw;
    border: 1vw solid rgb(131, 182, 240);
}

#stackContainer:before{
    content: 'My Stack';
    display: inline-block;
    position: absolute;
    font-family: 'Space Mono', sans-serif;
    top:-1vw;
    background-color: #0e141d;
    color: rgb(212, 232, 255);
    right:-4vw;
    transform: rotate(20deg);
    font-size: 2vw;
    padding: 0.2vw 1vw;
}
.hanging-elem{
    width: 1px;
    height: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.stack-icon{
    display: inline-block;
    position: relative;
    width: 3vw;
    height: 3vw;
    z-index: 10;
}
.hanging-elem:nth-child(6) img{
    width: 2.5vw;
    height: 2.5vw;
}
.hanging-elem:nth-child(8) img{
    width: 3.5vw;
    height: 3.5vw;
}
.hanging-elem:nth-child(5) img{
    margin-top: 3vw;
}

#timesVisited{
    display: inline-flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    top:4vw;
    right: 10vw;
    width: 30vw;
    height: 6vw;
    background-color: rgb(18, 29, 44);
    border: 0px solid transparent;
    border-radius: 40px;
    padding-left: 4vw;
    color: rgb(203, 234, 255);
    font-family: 'Space Mono', sans-serif;
    font-size: 1.2vw;
}
#timesVisited div span{
    display: inline-flex;
    width: 3vw;
    height: 3vw;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(25, 212, 25);
    color: rgb(207, 255, 203);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 8px rgb(51, 216, 17));
}

#writeBlogs{
    position: absolute;
    color: white;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2vw;
    bottom: 20%;
    left: 2%;
}

#aboutDownArrow{
    background-image: url('../img/caret_down.svg');
}
#aboutWave{
    position: absolute;
    width: 100%;
    height: 28%;
    bottom:-14%;
    left:0;
    background-image: url("../img/about_wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -85;
}

/* Mobile Styles */
@media only screen and (max-width: 900px) {
    #writeBlogs{
        font-size: 1.8vh;
        bottom: 20%;
        left: 0%;
        width: 100%;
        text-align: center;
    }
    
    #aboutWrapper{
        margin-top: 20vh;
    }
    
    #aboutContainer{
        width: 80vw;
        height: 40vw;
    }
    
    #aboutContainer:before{
        font-size: 2vh;
    }
    
    #aboutContainer:after{
        top:0.6vh;
        left:0.6vh;
    }
    #aboutText{
        font-size: 1.4vh;
    }
    
    #stackWrapper{
        top: 10vh;
        margin-right: calc(10vw - 1vh);
    }
    
    #stackContainer{
        width: 80vw;
        height: 40vw;
    }
    
    #stackContainer:before{
        top:-1vh;
        right:-2vh;
        font-size: 2vh;
        padding: 0.2vh 1vh;
    }
    .stack-icon{
        width: 3.5vh;
        height: 3.5vh;
    }
    .hanging-elem:nth-child(3) img, .hanging-elem:nth-child(6) img{
        width: 2.5vh;
        height: 2.5vh;
    }
    .hanging-elem:nth-child(8) img{
        width: 4vh;
        height: 4vh;
    }
    .hanging-elem:nth-child(5) img{
        margin-top: 3vh;
    }
    
    #timesVisited{
        top:4vh;
        right: 12.5vw;
        width: 75vw;
        height: 10vw;
        font-size: 1.5vh;
    }
    #timesVisited div span{
        width: 3.5vh;
        height: 3.5vh;
    }
}