.bird{
    z-index: 998;
    position: absolute;
    width: 5%;
    aspect-ratio: 2/3;
    left:0;
    top:100%;
    background: url('../img/crow.gif');
    background-size: contain;
    background-repeat: no-repeat;
    
}