@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Mono&family=Fredericka+the+Great&display=swap');
#mainSection{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #E4E5E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #1982c4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #1982c4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#introText{
    display: inline-block;
    position: relative;
    top: 10vh;
    left: 5vw;
    font-size: 2vw;
    font-family: 'Space Mono', sans-serif;
    letter-spacing: -0.2em;
}

#introText .intro1{
    font-size: 9vw;
    opacity: 0;
}

#introText .intro2{
    opacity: 0;
    font-size: 5vw;
    margin-left: 2vw;
    top:-1vw;
}

#mainWave{
    position: absolute;
    width: 100%;
    height: 28%;
    bottom:0;
    left:0;
    background-image: url("../img/main_wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

@keyframes arrow_bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1vw);
    }
    10%{
        transform: translateY(0);
    }
}

/* MAIN MENU */
#mainMenu{
    width: 15%;
    aspect-ratio: 1/1;
    background-image: url("../img/main_menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:3vw;
    right:4vw;
}
.main-icon{
    position: relative;
    left: 30%;
    top: 15%;
    
}
.main-icon img{
    width: 20%;
    height: 20%;
    aspect-ratio: 1/1;
    transition: 0.1s transform ease-in-out;
}

#mainMenu .main-icon:nth-of-type(odd):hover img{
    transform: rotate(20deg);
}

#mainMenu .main-icon:nth-of-type(even):hover img{
    transform: rotate(-20deg);
}

#mainDownArrow{
    background-image: url('../img/caret_down.svg');
}