*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth !important;
}
body{
    overflow-x: hidden;
    background-color: #4b77be;
}
body::after{
    content: "Loading";
    font-family: "Bungee Shade", cursive;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -9;
    font-size: 10vw;
    top:0;
    left:0;
}

#sendSuccess{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.3s;
}
#sendSuccessConfetti{
    /* display: inline-block; */
    position: relative;
}
#sendSuccessText{
    text-align: center;
    font-family: "Bungee Shade", cursive;
    font-size: 5em;
    color: rgb(44, 226, 126);
    opacity: 0;
    transform: translateY(-30px);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* PRELOADER */
.loader{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 999;
    display: inline-block;
    pointer-events: none;
}
.loader-bg{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 998;
    display: inline-block;
    pointer-events: none;
}
#allContent{
    clip-path: circle(0% at 50% 50%);
}
.loader-bg-clip{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: transparent;
    
}
.loader-bar{
    width:100%;
    height:21%;
    background-color: #002c6e;
}
.loader .loader-bar:nth-of-type(even){
    transform-origin: left;
}
.loader .loader-bar:nth-of-type(odd){
    transform-origin: right;
}
.center-full{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.space-between-60{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.down-arrow{
    display: inline-block;
    position: absolute;
    bottom: 2%;
    width: 6vw;
    height: 6vw;
    left: calc(50% - 3vw);

    background-size: 100%;
    animation: arrow_bounce 3s infinite;
    cursor: pointer;
}

.as-fade-up{
    opacity: 0;
    transform: translateX(0) translateY(10px);
    transition: 1.5s transform, 1.5s opacity;
}
.as-fade-down{
    opacity: 0;
    transform: translateX(0) translateY(-10px);
    transition: 1.5s transform, 1.5s opacity;
}
.as-fade-left{
    opacity: 0;
    transform: translateX(10px) translateY(0);
    transition: 1.5s transform, 1.5s opacity;
}
.as-fade-right{
    opacity: 0;
    transform: translateX(-10px) translateY(0);
    transition: 1.5s transform, 1.5s opacity;
}

.as-fade-on{
    opacity: 1;
    transform: translateX(0) translateY(0);
}
#mobileBlock{
    display: none;
}
/* Mobile Styles */
@media only screen and (max-width: 900px) {
    #sendSuccessText{
        font-size: 1.8em;
    }
    /* #mobileBlock{
        position: fixed;
        top:0;
        left:0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: azure;
        z-index: 999;
    }
    #mobileBlock::after{
        content: "Please View on a larger device";
        font-size: xx-large;
        display: inline-flex;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    } */
    .down-arrow{
        display: inline-block;
        position: absolute;
        bottom: 2%;
        width: 10vh;
        height: 10vh;
        left: calc(50% - 5vh);
    
        background-size: 100%;
        animation: arrow_bounce 3s infinite;
        cursor: pointer;
    }
  }