:root{
    --main-color: #347aa5;
    --secondary-color: rgb(17, 17, 17);
}

#weatherTemp{
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom:20vh;
    right:2vw;
    justify-content: center;
    width: 10vw;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: var(--secondary-color);
    font-size: 3.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
}
#weatherTemp::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:0.5vw;
    left:0.5vw;
    height: calc(100% - 2vw);
    width: calc(100% - 2vw);
    border: 0.5vw solid var(--main-color);
    border-radius: 50%;
    pointer-events: none;
}
#weatherTemp span{
    display: inline-block;
    position: relative;
}
#weatherTemp span::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    right: -8px;
    width: 0.3vw;
    height: 0.3vw;
    border: 0.3vw solid var(--main-color);
    border-radius: 50%;
}

#weatherLocation{
    display: inline-block;
    position: absolute;
    bottom:13%;
    right:15vw;
    height: 20vw;
    width: 25vw;
    transform: rotate(-10deg);
    background-image: url("../img/boat.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
}
#weatherLocation .loc-wrapper{
    position: absolute;
    bottom: 28%;
    right: 10%;
    font-size: 1.5vw;
    transform: rotate(1deg);
    font-family: "Fredericka the Great", cursive;
}
#weatherLocation .loc-wrapper .city{
    display: inline-block;
    position: relative;
    font-size: 1.3vw;    
}
#weatherLocation .loc-wrapper .country{
    display: inline-block;
    position: relative;
    font-size: 1.3vw;

}

#weatherUnits{
    display: inline-flex;
    align-items: center;
    justify-content:flex-start;
    height: 3vw;
    width: 10vw;
    position: absolute;
    bottom: 12%;
    right: 10%;
    z-index: 998;
    background-image: url("../img/fish.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(1deg);
}
#weatherUnits select{
    margin-left: 2vw;
    background-color: black;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}
#searchLoc{
    display: inline-flex;
    align-items: center;
    justify-content:flex-start;
    height: 4vw;
    width: 12vw;
    position: absolute;
    bottom: 2%;
    right: 5%;
    z-index: 998;
    background-image: url("../img/fish.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#searchLocInput{
    width: 50%;
    margin-left: 1vw;
    background-color: black;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    height: 1vw;
    z-index: 900;
}
#searchLoc button{
    width: 15%;
    height: 1.5vw;
    background-color: black;
    cursor: pointer;
    color: var(--main-color);
    background-image: url("../img/search_icon.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;

}
#searchLoc button:hover{
    filter:brightness(150%);
}

#searchLoc ul{
    display: none;
    overflow-y: auto;
    height: 30vh;
    background-color: black;
    border: 0px solid transparent;
    border-radius: 5px;
    position: absolute;
    top: -30vh;
    left: -15%;
    width: 130%;
    cursor: pointer;
}
#searchLoc ul li:hover{
    filter:brightness(150%);
}
#searchLoc ul li{
    display: inline-block;
    width: 90%;
    color: var(--main-color);
    padding: 0.5vw 0;
    font-size: 1vw;
    margin-left: 5%;
    border-bottom: 1px solid var(--main-color);
}

#refreshLoc{
    display: inline-flex;
    align-items: center;
    justify-content:flex-start;
    height: 2vw;
    width: 7vw;
    position: absolute;
    bottom: 6%;
    right: 20%;
    z-index: 998;
    background-image: url("../img/fish.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-1deg);
}
#refreshLoc button{
    margin-left: 14%;
   font-size: 0.5vw;
    background-color: black;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    padding: 2px 4px;
}

#weatherType{
    display: inline-block;
    height: 20vw;
    width: 20vw;
    position: absolute;
    bottom: 30%;
    right: 5%;
    z-index: 990;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-1deg);
    pointer-events: none;
}

#mainUpArrow{
    z-index: 998;
    background-image: url("../img/caret_up.svg");
}

