.drop-nav {
    filter: blur(5px);
    padding-top: 9vh;
    user-select: none;
    position: fixed;
    min-width: 20vh;
    max-width: 30vh;
    height: 100vh;
    background-color: #05131A;
    top: 0;
    z-index: 4;
    transform: translateX(-50vw);
}
#mainNav {
    display:none;
    user-select: none;
width: 70px;
position: fixed;
background-color: #05131A;
height: 100vh;
z-index: 5;
box-shadow: 2px -100vh 10px #95052E;
animation: loading 1s forwards linear;
}
.nav-link{
    position: relative;
    display: none;
    text-align: center;
    color:#95052E;
    cursor: pointer;
   width:100%;
   height:40px;
    text-decoration: none;
    font-family: monospace;
    transition: color 0.4s ease-in-out;
    font-weight: 600;
    }
    
    .nav-link-a{
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        width: 60px;
        margin-top: 6vh;
    }
    .link-wrapper div a:nth-child(1){
        margin-top: 0;
    }
    .nav-link-a:after {
        position: relative;
        content: "";
        display: block;
        transform:scale(0, 1);
        height: 3px;
        background-color: #C70039;
        transition: transform 0.4s ease-in-out;
        border: 0px solid transparent;
        border-radius: 10%;
        z-index: 6;
        }
        .nav-link-a:hover:after{
            transform:scale(1, 1);
        }
        .link-wrapper{
            display: flex;
            height:100%;
            align-items:center ;
            justify-content: center;
        }
    #dropNavWrapper {
    display: block;
    z-index: 3;
    background-color: #00000091;
    position: fixed;
    top:-100vh;
    left:0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    }
@keyframes dropnav_down {
    100%{transform: translateX(0); filter:blur(0px);}
}
@keyframes  dropnav_up{
    0%{transform: translateY(0);filter:blur(0px);}
    100%{transform: translateX(-50vh);filter:blur(5px);}
}
.drop-nav-link {
    padding: 3vh 0 2vh 2vh;
    display: block;
    text-align: left;
    color:#a90000;
    font-size: 4vh;
    font-family: 'Merienda', cursive;
    text-decoration: none;
    background-color: #05131A;
}

.drop-nav-link:hover {
    color:#a13b3b;
}

.close-drop-nav:hover {
    color:#a13b3b;
}
.close-drop-nav {
    padding-left: 2vh;
    font-weight: 600;
    display: block;
    width: 100%;
    color:#a90000;
    text-align: left;
    font-size: 15vh;
    text-decoration: none;
    cursor: pointer;
}

.ham-menu {
    display: inline-block;
    background-image: url("img/ham-menu.svg");
    background-size: cover;
    width: 6vh;
    height: 6vh;
    position: relative;
    transform: translateY(20%);
    cursor: pointer;
    transition: transform 0.5s ease;
}
.ham-wrapper {
    display: inline-block;
    padding-left: 10px;
}






.nav-link-a:hover .nav-link{
color: white;
}




@keyframes loading{
from{box-shadow: 1px -100vh 10px #95052E;}
to{box-shadow: 1px 0 20px #95052E;;}
}




.nav-logo a {
display: inline-block;
color: #C70039;
text-decoration: none;
transition: 0.4s color ease;
}

.nav-logo a:after {
position: relative;
top: 0;
content: "";
display: block;
transform: scaleX(0);
width: 100%;
height: 4px;
background-color: #C70039;
transition: 0.4s transform ease-in-out;
border: 0px solid transparent;
border-radius: 10%;
}

.nav-logo a:hover:after {
transform: scaleX(1);
}

.nav-logo a:hover {
color:white;
}





.ham-menu{
    display: none;
}
.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
#allContent{
    padding-left: 70px;
}
.nav-logo{
    width: 40%;
    margin-left: 2%;
    font-size: 40px;
    transform: translateY(10%);
}
#mainNav{
    display:block;
}