.drop-nav {
    filter: blur(5px);
    padding-top: 9vh;
    user-select: none;
    position: fixed;
    min-width: 20vh;
    max-width: 30vh;
    height: 100vh;
    background-color: #eeeeee;
    top: 0;
    z-index: 4;
    transform: translateX(-50vw);
}
.nav-link{
    display: none;
    min-width: 120px;
    text-align: center;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-family: monospace;
    margin: 0 10px;
    transition: color 0.4s ease-in-out;
    font-weight: 600;
    }
    #dropNavWrapper {
    display: block;
    z-index: 3;
    background-color: #00000091;
    position: fixed;
    top:-100vh;
    left:0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    }
@keyframes dropnav_down {
    100%{transform: translateX(0); filter:blur(0px);}
}
@keyframes  dropnav_up{
    0%{transform: translateY(0);filter:blur(0px);}
    100%{transform: translateX(-50vh);filter:blur(5px);}
}
.drop-nav-link {
    padding: 3vh 0 2vh 2vh;
    display: block;
    text-align: left;
    color:#000;
    font-size: 4vh;
    font-family: 'Merienda', cursive;
    text-decoration: none;
}

.drop-nav-link:hover {
    color:#aaa;
}

.close-drop-nav:hover {
    color:#aaa;
}
.close-drop-nav {
    padding-left: 2vh;
    font-weight: 600;
    display: block;
    width: 100%;
    color:#000;
    text-align: left;
    font-size: 15vh;
    text-decoration: none;
    cursor: pointer;
}

.ham-menu {
    display: inline-block;
    background-image: url("img/ham-menu-light.svg");
    background-size: cover;
    width: 6vh;
    height: 6vh;
    position: relative;
    transform: translateY(20%);
    cursor: pointer;
    transition: transform 0.5s ease;
}
.ham-wrapper {
    display: inline-block;
    padding-left: 10px;
}

.nav-logo {
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: auto;
    font-size: 4vh;
    font-family: monospace;
    font-weight: 600;
    transform: translateY(-10%);
    }




.nav-link-wrapper a:nth-child(1) {
    width: 80px;
}

.nav-link:hover {
color: #aaa;
}
.nav-link:after {
position: relative;
top: 5px;
content: "";
display: block;
width: 0%;
height: 4px;
background-color: #aaa;
transition: 0.4s ease-in-out;
border: 0px solid transparent;
border-radius: 10%;
}
.nav-link:hover:after {
width: 100%;
}

.loading-bar {
height: 2px;
display: inline-block;
position: absolute;
left:0;
margin-top:7vh;
box-shadow: 0px 1vh 6px #ccc;
animation: loading 1s forwards;
    
}

@keyframes loading{
from{width: 0%;}
to{width: 100%;}
}




.nav-logo a {
display: inline-block;
color: #000;
text-decoration: none;
transition: 0.4s color ease;
}

.nav-logo a:after {
position: relative;
top: 0;
content: "";
display: block;
transform: scaleX(0);
width: 100%;
height: 4px;
background-color: #aaa;
transition: 0.4s transform ease-in-out;
border: 0px solid transparent;
border-radius: 10%;
}

.nav-logo a:hover:after {
transform: scaleX(1);
}

.nav-logo a:hover {
color:#aaa;
}


#mainNav {
    user-select: none;
width: 100%;
position: fixed;
background-color: #eeeeee;
height: 8vh;
z-index: 5;
}

.nav-link-wrapper {
    display: none;
    width: 49%;
    justify-content: right;
    padding-right: 5%;
    transform: translateY(-10%);
    }

@media only screen and (min-width: 950px){
    .ham-menu{
        display: none;
    }
    .nav-link-wrapper {
        display: inline-flex;
    }
    .nav-link {
        display: inline-block;
        font-size: 25px;
    }
    .nav-logo{
        width: 40%;
        margin-left: 2%;
        font-size: 40px;
        transform: translateY(-10%);
    }

}