@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
/* CSS RESET */
* {
    margin: 0;
    padding:0;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content:center ;
    }
    html {scroll-behavior: smooth;}
    body{ background-color: #05131A; min-height: 97vh; overflow-x: hidden; width:100vw;}

    /* MOBILE ONLY STUFF */

    .mobile-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
   

    /* MAIN TITLE */

    .main-title {
        
        text-align: center;
        font-size: 6vw;
        font-family: 'Merienda', cursive;
        font-weight: 600;
        color: #C70039;
        text-shadow: 5px 5px 20px #95052E;
    }

    .main1 {
        margin-top: 10%;
        margin-right: 5%;
        position: relative;
        text-align: left;
        width: 70vw;
        top: 0;
        font-size: 8vw;
       
    }
    .main1 span{
        display: inline-block;
        transform: translateY(-50vh);
    }
    .main1 span:nth-child(1){
        animation: text_down 0.5s forwards;
    }
    .main1 span:nth-child(2){
        animation: text_down 0.5s 0.1s forwards;
    }
    .main1 span:nth-child(3){
        animation: text_down 0.5s 0.2s forwards;
    }
    @keyframes text_down{
        from{transform: translateY(-50vh);}
    to{transform: translateY(0);}
    }

    .main2 {
        padding-left: 20vw;
        position: relative;
        top: -8vw;
    }
    .main2 span{
        display: inline-block;
        transform: translateY(-50vh);
    }

    .cloud{
        position: absolute;
        
    }

    .cloud1{
        width: 20vw;
        top:60px;
        transform: translateX(-40vh);
    }
    .cloud2{
        width:35vw;
        right:-10vw;
        transform: translateX(50vh);
    }
    .cloud3{
        width: 45vw;
        left: 35vw;
        bottom:0;
        transform: translateX(90vh);
    }

    @keyframes cloud_slide {
        100%{transform: translateX(0);}
    }
   
    
  

    .main-desc {
        opacity: 0;
        text-align: center;
        font-size: 4.1vw;
        font-family: sans-serif;
        font-weight: 700;
        word-spacing: 50%;
        color: #ad3232;
        text-shadow: 5px 5px 10px #a90000;
    }

    #mainDownArrow {
        width: 20vw;
        height: 20vw;
        position: absolute;
        bottom: 0;
        background-image: url("img/arrow-down-short.svg");
        background-size: cover;
        background-repeat: no-repeat;
        animation: arrow_bounce 3s infinite;
    }
    

    .section1 {
        height: 100vh;
        background-color: #05131A;
        position: relative;
    }
    .section2 {
        height: 100vh;
        background-color: #ad3232;
        position: relative;
    }

    .wave{
        position: absolute;
       width:100%;
        opacity: 0.4;
        left:0;
        bottom:0;
    }

    @keyframes textfade {
        100%{opacity: 1; filter: blur(0);}
    }

    @keyframes arrow_bounce {
        0%{transform: translateY(0)}
        50%{transform: translateY(-1vw)}
        0%{transform: translateY(0)}
    }
    @keyframes scale_up {
        100%{transform: scale(1,1);}
        
    }

    .section-wrapper {
        height: 100%;
    }
    .sec2-cont1-wrapper .mobile-center:nth-child(1) .sec2-cont1 {
        margin-top: 5vh;
        position: absolute;
        transform: translateY(75%);
    }
    .sec2-cont1-wrapper .mobile-center:nth-child(2) .sec2-cont1 {
        margin-top: -15vh;
        position: absolute;
        transform: translateY(210%);
    }
    .section2-content {
        margin-top: 5vw;
        display: inline-block;
        width: 35vh;
        height: 35vh;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 8px 5px 20px black;
        background-color: #05131A;
    }
    

    .card-title {
        margin: 1vw 0;
        color: #ad3232;
        font-weight: 600;
        font-family: 'Merienda', cursive;
        font-size: 10vw;
        width: 75%;
        text-align: center;

        transform: scale(-1,-1);
    }

    .card-title:before {
        position: absolute;
        left: 0;
        content: "";
        display: inline-block;
        width: 100%;
        transform: scale(0,0);
        height: 3px;
        background-color: #ad3232;
    }
    .card-list {
        padding-left: 20px;
        font-family: sans-serif;
        color: #ad3232;
        font-weight: 700;
        text-shadow: 1px 1px 3px #ad3232;
        width: 100%;
        margin: 1vw 0;
        font-size: 2.5vh;
    }
    .card-list span {
        opacity: 0; 
        filter: blur(5px);
        
    }
    .card-underline-anim:before{
        animation: scale_up 1.5s forwards;
    }

    .section1-2 {
        height: 100vh;
    }
    
    

    .slide-in span {
        animation: slide_in 2s forwards;
    }

    #arrow2 {
        width: 20vw;
        height: 20vw;
        position: absolute;
        bottom:0;
        background-image: url("img/caret-down.svg");
        background-size: cover;
        background-repeat: no-repeat;
        animation: arrow_bounce 3s infinite;

    }
    @keyframes slide_in {
            100%{opacity: 1;}
    }
    @keyframes plop_in {
        75%{top: 0;}
        100%{font-size: 4vh;top: 0;}
    }

    #mainUpArrow {
        width: 20vw;
        height: 20vw;
        position: absolute;
        bottom: 0;
        background-image: url("img/arrow-up-short.svg");
        background-size: cover;
        background-repeat: no-repeat;
        animation: arrow_bounce 3s infinite;
    }
    #skills {
        position: relative;
    }
    
.card-content{
    width: 90%;
}




.section12-wrapper{
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
}
.project-left-icon{
    display: inline-block;
    color: #C70039;
    width: 100px;
    height:100px;
    left: -15px;
    background-size: contain;
    position: absolute;
    transform: translateY(-25%);
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.project-container{
    display: inline-block;
    width: 40vh;
    height: 50vh;
    left:10vh;
    position: absolute;
    transition: left 1s ease;
}

.realmshooter-frame{
    display: block;
    height:80%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/realmshooter.jpg');
    position: relative;
    z-index: 2;
    
}
.syntax-frame{
    display: block;
    height:80%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/syntax.jpg');
    position: relative;
    z-index: 2;
    
}
.flurry-frame{
    display: block;
    height:80%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/flurrystorm.jpg');
    position: relative;
    z-index: 2;
    
}
.portfolio-frame{
    display: block;
    height:80%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/portfolio.jpg');
    position: relative;
    z-index: 2;
    
}
.photo-frameee{
    transition: 0.5s transform ease-in-out;
}
.photo-frameee:hover{
    transform: scale(1.1);
}


.project-title{
    text-align: center;
    font-family:"Merienda", cursive;
    width: 100%;
    color: #ad3232;
    font-size: 1.6em;
    margin-top: 5vh;
}

.project-right-icon{
    display: inline-block;
    position: absolute;
    color: #C70039;
    width: 100px;
    height:100px;
    right: 0;
    background-size: contain;
    cursor: pointer;
    user-select: none;
    transform: translateY(-25%);
    z-index: 2;
}
.main-project-title{
    text-align: center;
    color:#ad3232;
    position: absolute;
transform: translateY(-35vh);
    width: 100vw;
    left:0;
    font-family:"Merienda", cursive;
    font-size: 6vw;
    
}
#allContent{
    overflow-x: hidden;
}
        
        @media only screen and (min-width: 950px){
            
            .project-left-icon{
                left: 5vw;
            }
            .project-right-icon{
                right: 5vw;
            }
            #mainUpArrow {
                width: 6vw;
                height: 6vw;
                
            }
            .cloud1{
                top:-30px;
            }
            .pad4vw {
                padding-left: 4vw;
            }
            .card-list {
                font-size: 2.5vw;
            }
            
            .main1 {
                margin-top: 1%;
            top: -4vh;
            }
            .main2 {
                margin-top: -2vw;
                margin-left: -12vh;
            }
            .main-desc {
                position: relative;
                margin-top: -5%;
            }
            .main-desc {
                font-size: 3vw;
            }
    
            #mainDownArrow {
                width: 6vw;
                height: 6vw;
            }
            .section2-content {
                padding: 1vh;
                width: 35vw;
            height: 35vw;
            }

    
            .sec2-cont1-wrapper .mobile-center:nth-child(2) .sec2-cont1 {
                margin-top: 5vw;
                margin-left: 10vw;
                transform: none;
                position: relative;
            }
            
            .sec2-cont1-wrapper .mobile-center:nth-child(1) .sec2-cont1 {
                margin-top: 5vw;
                transform: none;
                position: relative;
            }
    
            .sec2-cont1-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .mobile-center {
                display: inline-block;
            }
    
            .card-title { 
                font-size: 4vw;
                width: 50%;
            }
            #arrow2 {
            width: 6vw;
            height: 6vw;
            position: absolute;
        bottom: -10px;
        background-image: url("img/caret-down.svg");
        background-size: cover;
        background-repeat: no-repeat;
        animation: arrow_bounce 3s infinite;
            }
            @keyframes plop_in {
                75%{top: 0;}
                100%{font-size: 3vw;top: 0;}
            }
            
            
        }
    